.account {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.a-profile {
  width: 100%;
  height: 120px;
  padding: 0.75rem 1.5rem;
  background-color: var(--graybackground);
  border-bottom: 1px solid var(--border);
  box-sizing: border-box;
}
.a-profileFlex {
  display: flex;
  flex-direction: row;
}
.a-profileImg {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 3px solid black;
  background-color: white;
  margin-right: 1rem;
}
.a-imgStyle {
  height: 55px;
  width: auto;
}
.a-profileText {
  margin-top: 0.5rem;
  flex: 1;
}
.a-follow {
  margin-top: 1rem;
}
.a-followbutton {
  background-color: var(--blue);
  color: white;
  font-weight: 600;
  padding: 0.5rem 0.75rem;
  border-radius: 20px;
}
.a-followbutton:hover {
  color: white;
}
.a-verticalAlign {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-height: calc(100% - 120px);
}
.a-iconsMargin {
  margin-top: 1.5rem;
}

.a-details {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.a-detailsSection {
  display: flex;
  flex-direction: row;
  height: 50px;
  padding: 0 0.5rem;
  align-items: center;
}
.a-detailsFlex {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 0.5rem;
  text-align: center;
  cursor: pointer;
}
.a-detailsToggle {
  margin-top: 5px;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: 400ms all;
}
#a-toggle0 {
  background-color: var(--darkgray);
}

.a-predictions {
  height: calc(100vh - 220px);
  padding: 0 1rem;
  overflow: auto;
}
.a-tableWidth {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.a-tableHeader {
  height: 15px;
  margin-bottom: 5px;
}
.a-tableBody {
  width: 100%;
}
.a-tableSmall {
  width: 50px;
}
.a-tableMedium {
  width: 65px;
}
.a-cell {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid var(--border);
  box-sizing: border-box;
}

.a-following {
  height: calc(100vh - 220px);
  overflow: auto;
  padding: 0 1rem;
}
.a-followingUser {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid var(--border);
  box-sizing: border-box;
}
.a-followingImgWrapper {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 1rem;
}
.a-followingImg {
  height: 40px;
  width: auto;
}
.a-fName {
  height: 40px;
  padding-left: 1rem;
}

.a-discussions {
  height: calc(100vh - 220px);
  overflow: auto;
  padding: 0 1rem;
}
.a-discussionGroup {
  box-sizing: border-box;
  border-top: 1px solid var(--border);
  height: 120px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.a-discussionRating {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
}
.a-ratingMargin {
  margin: 0.3rem 0;
}
.a-discussionDetails {
  padding-left: 1rem;
  height: 70px;
}
.a-discussionTitle {
  height: 1.5rem;
  overflow: hidden;
}
.a-discussionBody {
  height: 2.5rem;
  overflow: hidden;
}
.a-discussionTime {
  margin-right: 0.5rem;
  height: 70px;
}

@media only screen and (min-width: 600px) {
  .a-tablemargin {
    margin: 1.5rem 25% 0rem 25%;
  }
  .a-tableSmall {
    width: 100px;
  }
  .a-tableMedium {
    width: 150px;
  }
}