.sidebar-main {
  /* height: 100%; */
  height: calc(100% - 50px);
  width: 300px;
  transition: 300ms all;
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
}
.sidebar-left {
  margin-left: -300px;
}

.sidebar-topPadding {
  /* height: 50px; */
  width: 100%;
}
.sidebar-contents {
  background-color: var(--whitebackground);
  border-right: 1px solid var(--border);
  box-sizing: border-box;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  width: 100%;
}
.sidebar-icon {
  height: 50px;
  width: 60px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sidebar-top {
  font-size: 1.3rem;
  font-weight: 600;
}

.sidebar-itemB {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  width: 100%;
}
.sidebar-bottom {
  width: 100%;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}
.sidebar-iconB {
  height: 50px;
  width: 30px;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.s-logo {
  width: 15px;
  height: 15px;
}