.home {
  height: calc(100% - 130px);
  overflow: auto;
}

.h-chart {
  height: 100%;
  cursor: pointer;
  margin-left: 10px;
}
.h-chart:active {
  cursor: grabbing;
}

.h-chartloc {
  display: block;
  position: relative;
  height: 100%;
  margin-top: -10px;
  overflow: hidden;
  background-color: white;
}

.h-coin {
  height: 80px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: var(--graybackground);
  border-top: 1px solid var(--border);
  box-sizing: border-box;
}
.h-coinselect {
  margin-left: 1.25rem;
}
.h-coinselectflex {
  font-size: 1.5rem;
  color: gold;
  border-radius: 20px;
  box-sizing: border-box;
  height: 100%;
}
.h-coinicon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-size: 1.5rem;
  color: white;
  background-color: gold;
  margin-right: 0.5rem;
}
.h-coiniconflex {
  margin: 0 auto;
  color: white;
}
.h-coinselecttext {
  margin-right: 0.5rem;
  font-weight: 600;
  font-size: 1.75rem;
}
.h-marginRight {
  margin-Right: 1.25rem;
}

.h-date {
  height: 50px;
  background-color: var(--graybackground);
  border-bottom: 1px solid var(--border);
  box-sizing: border-box;
}
.h-dateButton {
  font-size: 1.1rem;
  font-weight: 700;
  width: 100%;
  height: 100%;
}

.h-homeList {
  height: 100%;
}
#h-toggle0 {
  background-color: var(--darkgray);
}
.h-containerMargins {
  height: calc(100% - 100px);
  padding: 0 1rem;
  overflow: auto;
}
.h-predictionLabel {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  background-color: var(--graybackground);
  border: 1px solid var(--border);
  box-sizing: border-box;
  border-radius: 30px;
  padding: 0 1.5rem;
  margin-bottom: 1rem;
}
.h-pLabelText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 600px) {
  .h-predict {
    margin-right: 20%;
  }
  .h-coinselect {
    margin-left: 20%;
  }
  .h-details {
    margin: 0.5rem 15%;
  }
  .h-bottomsectionmargin {
    margin: 1rem 30%;
  }
  .h-tablemargin {
    margin: 0 15%;
  }
}
