@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

:root {
  --black: #111111;
  --darkgray: #353535;
  --gray: #676771;
  --mediumgray: #b6b6bc;
  --lightgray: #f1f1f3;
  --graybackground: #fbfbfb;
  --whitebackground: rgba(255, 255, 255, 0.95);
  --border: #e5e5e5;
  --blue: #007aff;
  --red: #ee5253;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}
#root {
  height: 100%;
}
.root-app {
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--gray);
}
a:hover {
  color: var(--darkgray);
  cursor: pointer;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  background-color: transparent;
  color: var(--darkgray);
  font-family: 'Lato', sans-serif;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out,
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}
button:focus {
  outline: none;
}
button, select {
  text-transform: none;
}
button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

.box-blue {
  background-color: var(--blue) !important;
}
.box-spacer {
  flex: 1;
}
.box-button-big {
  background-color: var(--mediumgray);
  color: white;
  border-radius: 20px;
  height: 40px;
  min-width: 40px;
  font-weight: 700;
  font-size: 1.2rem;
}
.box-heading-1 {
  font-size: 1.5rem;
  font-weight: 700;
}
.box-heading-2 {
  font-size: 1.2rem;
  font-weight: 700;
}
.box-heading-3 {
  font-size: 0.8rem;
  font-weight: 700;
}
.box-text-1 {
  font-size: 1.5rem;
}
.box-text-2 {
  font-size: 1.2rem;
}
.box-text-3 {
  font-size: 0.8rem;
}
.box-textCenter {
  text-align: center;
}
.box-textBold {
  font-weight: 700;
}
.box-textCaps {
  text-transform: uppercase;
}
.box-textGray {
  color: var(--gray);
}
.box-margin-top-medium {
  margin-top: 1rem;
}
.box-margin-top-small {
  margin-top: 0.75rem;
}
.box-margin-bottom-small {
  margin-bottom: 0.75rem;
}
.box-margin-left-medium {
  margin-left: 1rem;
}
.box-margin-left-small {
  margin-left: 0.5rem;
}
.box-margin-left-space {
  margin-left: 0.2rem;
}
.box-margin-right-small {
  margin-right: 0.5rem;
}

@media only screen and (min-width: 600px) {
  /* Scrollbar Styles */
  /* div::-webkit-scrollbar-track
  {
    width: 10px;
    margin: 50px 0 2px 0;
  }
  div::-webkit-scrollbar
  {
    height: 8px;
    width: 10px;
  }
  div::-webkit-scrollbar-thumb
  {
    border-radius: 5px;
    background-color: var(--gray);
    border-right: 2px solid white;
  } */
}