@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

:root {
  --black: #111111;
  --darkgray: #353535;
  --gray: #676771;
  --lightgray: #f7f7f7;
  --graybackground: #fbfbfb;
  --whitebackground: rgba(255, 255, 255, 0.95);
  --border: #e5e5e5;
  --blue: #007aff;
  --red: #ee5253;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}
#root {
  height: 100%;
}
.root-app {
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--gray);
}
a:hover {
  color: var(--darkgray);
  cursor: pointer;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  background-color: transparent;
  color: var(--darkgray);
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out,
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}
button:focus {
  outline: none;
}
button, select {
  text-transform: none;
}
button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

@media only screen and (min-width: 600px) {
  /* Scrollbar Styles */
  div::-webkit-scrollbar-track
  {
    width: 10px;
    margin: 50px 0 2px 0;
  }
  div::-webkit-scrollbar
  {
    height: 8px;
    width: 10px;
  }
  div::-webkit-scrollbar-thumb
  {
    border-radius: 5px;
    background-color: var(--gray);
    border-right: 2px solid white;
  }
}