.users {
  height: calc(100vh - 50px);
}

.u-topBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  padding: 0 1rem;
}

.box-buttonLine {
  box-sizing: border-box;
  border: 2px solid var(--mediumgray);
  border-radius: 20px;
  height: 30px;
  padding: 0.25rem 0.5rem;
}

.u-body {
  height: calc(100vh - 100px);
  padding: 0 1rem;
}

@media only screen and (min-width: 600px) {

}
